[submodule "sources_plugins/vim-align"]
	path = sources_plugins/vim-align
	url = http://github.com/tsaleh/vim-align
    ignore = dirty
[submodule "sources_plugins/syntastic"]
	path = sources_plugins/syntastic
	url = https://github.com/scrooloose/syntastic
    ignore = dirty
[submodule "sources_plugins/neocomplcache"]
	path = sources_plugins/neocomplcache
	url = https://github.com/Shougo/neocomplcache
    ignore = dirty
[submodule "sources_plugins/taglist"]
	path = sources_plugins/taglist
	url = https://github.com/vim-scripts/taglist.vim
    ignore = dirty
[submodule "sources_plugins/nerdcommenter"]
	path = sources_plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
    ignore = dirty
[submodule "sources_plugins/cscope"]
	path = sources_plugins/cscope
	url = https://github.com/vim-scripts/cscope.vim
    ignore = dirty
[submodule "sources_plugins/vim-multiple-cursors"]
	path = sources_plugins/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
    ignore = dirty
[submodule "sources_plugins/emmet-vim"]
	path = sources_plugins/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "sources_plugins/vim-project"]
	path = sources_plugins/vim-project
	url = https://github.com/amiorin/vim-project
[submodule "sources_plugins/vim-css-syntax"]
	path = sources_plugins/vim-css-syntax
	url = https://github.com/fremff/vim-css-syntax
[submodule "sources_plugins/exUtility"]
	path = sources_plugins/exUtility
	url = https://github.com/vim-scripts/exUtility
