[submodule "sources_plugins/zencoding-vim"]
	path = sources_plugins/zencoding-vim
	url = http://github.com/mattn/zencoding-vim
[submodule "sources_plugins/vim-align"]
	path = sources_plugins/vim-align
	url = http://github.com/tsaleh/vim-align
[submodule "sources_plugins/syntastic"]
	path = sources_plugins/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "sources_plugins/neocomplcache"]
	path = sources_plugins/neocomplcache
	url = https://github.com/Shougo/neocomplcache
[submodule "sources_plugins/taglist"]
	path = sources_plugins/taglist
	url = https://github.com/vim-scripts/taglist.vim
